<div *ngIf="services">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let date of dates | paginate: { itemsPerPage: 4, currentPage: p, id: 'service', totalItems: dates.length }">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ date }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row mt-2" *ngFor="let item of getServices(date)">

        <div class="col-md-6">
          Product name
        </div>

        <div class="col-md-6">
          {{ item.service_name }}
        </div>

        <div class="col-md-6">
          Price
        </div>

        <div class="col-md-6">
          {{ item.price }}
        </div>

        <div class="col-md-6">
          Time Updated
        </div>

        <div class="col-md-6">
          {{ item.time_added }}
        </div>


        <div class="col-md-6">
          User
        </div>

        <div class="col-md-6">
          {{ item.user }}
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <pagination-controls id="service"
                       (pageChange)="p = $event"
                       [responsive]="true"
                       class="paginate"> </pagination-controls>
</div>
