<div class="container-fluid">
  <mat-card>
    <mat-card-title>Add A Service</mat-card-title>
    <mat-card-content>
      <form [formGroup]="serviceform">

        <!-- Service product_name -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Service name</mat-label>
            <input matInput placeholder="my product" [formControl]="serviceform.controls['service_name']">
          </mat-form-field>

        <!-- Service Price -->
          <mat-form-field class="full-width " appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" matInput [formControl]="serviceform.controls['price']" title="product-price">
          </mat-form-field>

          <div class="row">
            <div class="col-md-4">
              <button mat-raised-button
                      [disabled]='serviceform.invalid'
                      class="full-width btn-primary"
                      (click)="save(serviceform.value)">Save</button>
            </div>

            <div class="col-md-4">
              <button mat-raised-button
                      [disabled]='serviceform.invalid'
                      class="full-width btn-primary"
                      (click)="save_and_addanother(serviceform.value)">Save and add another</button>
            </div>

            <div class="col-md-4">
              <button mat-raised-button class="full-width btn-danger" (click)="cancel()">Cancel</button>
            </div>

          </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

